FreeDockWidget{
	border:3px ;
	border-style: inset ;
	/*border-color: rgb(255, 0, 0);*/ 
	padding-left: 0px; 
    padding-top: 0px;
    padding-bottom: 0px;
}
FreeDockWidgetHeader{
	font-family: "Roboto Lt";
    font-size: 1pt;
    background: black;
    padding-left: 0px; 
    padding-top: 0px;
    padding-bottom: 0px;
}


TemanejoButton{
	border:2px;
	border-style: inset;
	border-color: rgb(0, 0, 0);
}

PropertyDisplayWidget{
	border:1px;
	border-style: inset;
	border-color: rgb(0, 0, 0);

}

