html {
    background: white
}

div {
    background: red;
    width: 300px
}

svg {
    margin: auto;
    position: relative;
}

.node ellipse {
    fill: white
}

.node.non-accepting ellipse {
    fill: #FDD
}

.node.non-accepting text {
    fill: #500
}

.edge text, .edge polygon {
    fill: blackA50;
}

.edge path, .edge polygon {
    stroke: black;
}

.node ellipse, .edge path, .edge polygon, .edge text {
    -webkit-transition: 500ms;
    transition: 500ms;
}

.node.active ellipse {
    fill: #5C5
}

.node.non-accepting.active ellipse {
    fill: #C55
}

.node.old ellipse {
    fill: #CCC
}

.edge.active text, .edge.active polygon {
    fill: #A50;
}

.edge.active path, .edge.active polygon {
    stroke: #A50;
}
